@charset "UTF-8";

/*

    paletas de cores
    azul:#2FE3F0
    rosa:#F08186
*/

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
} 

body,html{
    background-color: #F08186;
    height: 100vh;
    width: 100vw;
}

main{
    position:relative;
    height: 100vh;
    width: 100 vw;
}

section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    
    background-color: white;
    width: 250px;
    height: 515px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.425);
    transform: translate(-50%, -50%);

}
section#login > div#imagem{
    display: block;
    background: #F08186 url(../imagens/pexels-shockphoto-by-szoka-sebastian-1381938.jpg) no-repeat;
    background-size: cover;
    height: 200px;
}
section#login > div#formulario {
    display: block;
    padding: 10px;
}
div#formulario{
    text-align: center;
    margin-bottom: 10px;
}
form > input[type=submit]{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color:#2FE3F0;
    color: white;
    border: none;
    border-radius: 5px;
    margin-bottom: 2px;
    
}
div#formulario > p{
    font-size: 0.8em;
}

form > div.campo{
    background-color: #F08186;
    display: block;
    width: 100%;
    border-radius: 5px;
    margin: 5px 0px;
    height:40px ;
    border: 2px solid  #F08186;
}

div.campo > label{
    display: none;
}
form > input[type=submit]:hover{
    background-color: #24b6c0;
}
form > input[type=button]{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color:white;
    color: #1b828a;
    border: none;
    border-radius: 5px;
    border: 1px  solid #1b828a;
}
form > input[type=button]:hover{
    background-color: #24b6c0;
}
.bot {

    width: 40px;
    padding: 8px;
    
      
}
div.campo > input{
    background-color: #2FE3F0;
    font-size: 1em;
    width: calc(100% - 45px);
   
    height: 100%;
    border: 0px;
    border-radius: 5px;
    transform: translateY(-16px);
   
}


   